webservice/axis2/hellopojo/src/main/HelloPojoService.wsdl.xml

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://axis2.basic.org/service/hellopojo" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:ns0="http://bean.common.axis2.basic.org/xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://axis2.basic.org/service/hellopojo">
    <wsdl:documentation>HelloPojoService</wsdl:documentation>
    <wsdl:types>
        <xs:schema xmlns:ax21="http://bean.common.axis2.basic.org/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://bean.common.axis2.basic.org/xsd">
            <xs:complexType name="BaseBean">
                <xs:sequence/>
            </xs:complexType>
            <xs:complexType name="Share">
                <xs:complexContent>
                    <xs:extension base="ax21:BaseBean">
                        <xs:sequence>
                            <xs:element minOccurs="0" name="number" nillable="true" type="xs:string"/>
                            <xs:element minOccurs="0" name="price" nillable="true" type="xs:string"/>
                        </xs:sequence>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:ns="http://axis2.basic.org/service/hellopojo" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://axis2.basic.org/service/hellopojo">
            <xs:element name="hello">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="param0" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="helloResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAllShareListResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:anyType"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getShare">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="param0" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getShareResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ns0:Share"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="updateShare">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="param0" nillable="true" type="ns0:Share"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="helloRequest">
        <wsdl:part name="parameters" element="ns1:hello"/>
    </wsdl:message>
    <wsdl:message name="helloResponse">
        <wsdl:part name="parameters" element="ns1:helloResponse"/>
    </wsdl:message>
    <wsdl:message name="getAllShareListRequest"/>
    <wsdl:message name="getAllShareListResponse">
        <wsdl:part name="parameters" element="ns1:getAllShareListResponse"/>
    </wsdl:message>
    <wsdl:message name="updateShareRequest">
        <wsdl:part name="parameters" element="ns1:updateShare"/>
    </wsdl:message>
    <wsdl:message name="getShareRequest">
        <wsdl:part name="parameters" element="ns1:getShare"/>
    </wsdl:message>
    <wsdl:message name="getShareResponse">
        <wsdl:part name="parameters" element="ns1:getShareResponse"/>
    </wsdl:message>
    <wsdl:portType name="HelloPojoServicePortType">
        <wsdl:operation name="hello">
            <wsdl:input message="ns1:helloRequest" wsaw:Action="urn:hello"/>
            <wsdl:output message="ns1:helloResponse" wsaw:Action="urn:helloResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getAllShareList">
            <wsdl:input message="ns1:getAllShareListRequest" wsaw:Action="urn:getAllShareList"/>
            <wsdl:output message="ns1:getAllShareListResponse" wsaw:Action="urn:getAllShareListResponse"/>
        </wsdl:operation>
        <wsdl:operation name="updateShare">
            <wsdl:input message="ns1:updateShareRequest" wsaw:Action="urn:updateShare"/>
        </wsdl:operation>
        <wsdl:operation name="getShare">
            <wsdl:input message="ns1:getShareRequest" wsaw:Action="urn:getShare"/>
            <wsdl:output message="ns1:getShareResponse" wsaw:Action="urn:getShareResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="HelloPojoServiceSOAP11Binding" type="ns1:HelloPojoServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="hello">
            <soap:operation soapAction="urn:hello" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getAllShareList">
            <soap:operation soapAction="urn:getAllShareList" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="updateShare">
            <soap:operation soapAction="urn:updateShare" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="getShare">
            <soap:operation soapAction="urn:getShare" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="HelloPojoServiceSOAP12Binding" type="ns1:HelloPojoServicePortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="hello">
            <soap12:operation soapAction="urn:hello" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getAllShareList">
            <soap12:operation soapAction="urn:getAllShareList" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="updateShare">
            <soap12:operation soapAction="urn:updateShare" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="getShare">
            <soap12:operation soapAction="urn:getShare" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="HelloPojoServiceHttpBinding" type="ns1:HelloPojoServicePortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="hello">
            <http:operation location="HelloPojoService/hello"/>
            <wsdl:input>
                <mime:content type="text/xml" part="hello"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="hello"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getAllShareList">
            <http:operation location="HelloPojoService/getAllShareList"/>
            <wsdl:input>
                <mime:content type="text/xml" part="getAllShareList"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="getAllShareList"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="updateShare">
            <http:operation location="HelloPojoService/updateShare"/>
            <wsdl:input>
                <mime:content type="text/xml" part="updateShare"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="getShare">
            <http:operation location="HelloPojoService/getShare"/>
            <wsdl:input>
                <mime:content type="text/xml" part="getShare"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="getShare"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="HelloPojoService">
        <wsdl:port name="HelloPojoServiceSOAP11port_http" binding="ns1:HelloPojoServiceSOAP11Binding">
            <soap:address location="http://localhost:8087/axis2/services/HelloPojoService"/>
        </wsdl:port>
        <wsdl:port name="HelloPojoServiceSOAP12port_http" binding="ns1:HelloPojoServiceSOAP12Binding">
            <soap12:address location="http://localhost:8087/axis2/services/HelloPojoService"/>
        </wsdl:port>
        <wsdl:port name="HelloPojoServiceHttpport" binding="ns1:HelloPojoServiceHttpBinding">
            <http:address location="http://localhost:8087/axis2/services/HelloPojoService"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
